/*Reset CSS */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body{
    padding: 4rem;
    background-color: #181818;
    color: #f4f4f5;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
}   

h1, h2, h3, h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0.25em;
}

p{
    font-size: small;
}

a {
    color: rgb(133, 243, 243);
}

a:hover, a:active, a:visited{
    color: rgb(27, 149, 189);
}

footer{
    position: fixed;
    bottom: 2rem;
    color: aliceblue;
}